In [6]:
#iterable

In [7]:
class amar_range:
    def __init__(self,start,end):
        self.start=start
        self.end=end
        
    def __iter__(self):
        amr_iterator(self)
class amr_iterator:
    def __init__(self,iterable_obj):
        self.iterable=iterable_obj
    def __init__(self):
        return self
    def __next__(self):
        
        if self.iterable.start>=self.iterable.end :
            raise StopIteration
        current=self.iterable.start
        self.iterable.start+1
        return current

In [8]:
#genarators

In [10]:
def gen_demo():
    yield "first statement"
    yield "second "
    yield "third"

gen=gen_demo()
print(next(gen))
print(next(gen))
print(next(gen))

first statement
second
third

In [11]:
def gen_demo():
    yield "first statement"
    yield "second "
    yield "third"

gen=gen_demo()

for i in gen:
    print(i)

first statement
second
third

In [12]:
#Python Demo (yield and return different)

In [15]:
def squre(num):
    for i in range(1,num+1):
        yield i**2

gen=squre(10)
print(next(gen))
print(next(gen))

for i in gen:# ekta bepar keyal kore dekho yield 1,2,3,por abar 14 print nh kore serial print korce eitai retur ar yield modda partoko
    print(i)

1
4
9
16
25
36
49
64
81
100

In [16]:
def amr_range(start,end):
    for i in range(start,end):
        yield i
for i in amr_range(20,30):
    print(i)

20
21
22
23
24
25
26
27
28
29

In [17]:
#genarator Expression

In [21]:
l=[i**2 for i in range(1,10)]
l

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
gen=(i**2 for i in range(1,10))
for i in gen:
    print(i)

1
4
9
16
25
36
49
64
81

In [23]:
#changing genarators

In [25]:
def fibonacci_numbers(nums):
    x,y=0,1
    for _ in range(nums):
        
        x,y=y,x+y
        yield x
def squre(nums):
    for num in nums:
        yield num**2
print(sum(squre(fibonacci_numbers(10))))

4895